/* src/styles/custom.css */

:root {
  /* Just the Green Brand Color */
  --sl-hue-accent: 142;
  --sl-color-accent-low: #142819;
  --sl-color-accent: #22c55e;
  --sl-color-accent-high: #bbf7d0;
}

/* That is it. No other overrides. */